.prim {
	display: flex;
	justify-content: space-between;
	&__item {
		width: 295px;
		flex-shrink: 0;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 600px;
		color: #fff;
		border-radius: 5px;
		box-shadow: $shadow;
		&--1 {
			background: url('../img/p1.jpg') no-repeat;
			background-size: cover;
		}
		&--2 {
			background: url('../img/p2.jpg') no-repeat;
			background-size: cover;
		}
		&--3 {
			background: url('../img/p3.jpg') no-repeat;
			background-size: cover;
		}
		&--4 {
			background: url('../img/p4.jpg') no-repeat;
			background-size: cover;
		}
	}
	&__name {
		font-size: 24px;
		font-weight: 500;
		position: relative;
		padding-bottom: 10px;
		&:before {
			left: 0;
			height: 2px;
		}
	}
	&__text {
		font-size: 16px;
		padding-bottom: 0;
	}
	&__btn {
		margin: 30px auto 0 auto;
		width: 380px;
	}
}

@media only screen and (max-width : 1279px) {
	.prim {
		flex-wrap: wrap;
		&__item {
			width: 340px;
			height: 200px;
			margin-bottom: 20px;
			background-position: center;
		}
		&__btn {
			margin: 10px auto 0 auto;
		}
	}
}

@media only screen and (max-width : 767px) {
	.prim {
		&__wrap {
			padding: 20px 0;
		}
		&__item {
			width: 320px;
			height: auto;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__btn {
			width: 280px;
		}
		&__name {
			font-size: 16px;
		}
		&__text {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
}