.service {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		border-radius: 5px;
		box-shadow: $shadow;
		&--big {
			width: 400px;
			height: 416px;
			margin-bottom: 20px;
			flex-shrink: 0;
			background-size: cover;
			padding: 20px;
			color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			border-radius: 5px;
			box-shadow: $shadow;
		}
		&--1 {
			background: url('../img/s1.jpg') no-repeat;
		}
		&--2 {
			background: url('../img/s2.jpg') no-repeat;
		}
	}
	&__text {
		margin-bottom: 0;
	}
	&__name {
		font-weight: 500;
		font-size: 18px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 820px;
		flex-shrink: 0;
	}
	&__btn {
		width: 380px;
		margin: 30px auto 0 auto;
	}
	&__support {
		text-align: center;
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 0;
	}
}

@media only screen and (max-width : 1279px) {
	.service {
		&__row {
			flex-direction: column;
			width: auto;
		}
		&__item--big {
			width: 100%;
			background: #fff;
			height: auto;
			color: rgba(0,0,0,.87);
		}
		&__btn {
			margin: 10px auto 0 auto;
		}
		.box__img {
			display: none;
		}
	}
}

@media only screen and (max-width : 767px) {
	.service {
		&__wrap {
			padding: 20px 0;
		}
		&__btn {
			width: 280px;
			margin-top: 0;
		}
		&__name {
			font-size: 14px;
		}
		&__support {
			display: none;
		}
	}
}